@model UpperityProfileManagement.UpperitySDK.GetActiveApiKeyListResponse
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upperity Entity Profile</title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Dashboard/assets/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <link href="~/Dashboard/assets/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Dashboard/assets/dash-styles.css" rel="stylesheet" type="text/css" />
    <link href="~/Dashboard/assets/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

    <div id="profile">
        <div class="container">
        <div class="row">
                <div id="logo" class="col-lg-12 col-sm-12"><img src="/dashboard/assets/U_OrangePetit.png"><h4>Upperity Entity Profile (@Model.currentEntity)</h4></div>
            </div>
            <div style="height:30px;"><a href="/Account/LogOut" style="float:right;">Log Out</a></div>  
            <div id="nav">
                    <ul>
                        <li><a  href="/Account/UpperityUserProfile">Personal Profile</a></li>
                        <li><a class="hide" href="">Tab</a></li>
                        <li><a class="active" href="/Account/ManageEntity">Entity</a></li>
                        <li><a href="/Account/RenderCreateEntity">Create Entity</a></li>
                        <li><a href="/Account/RenderPartnerApiKeyList">Become a partner</a></li>
                        <li><a class="hide" href="">Tab</a></li>
                    </ul>
                </div>
            <!--TAB1-->
            <!--Section1-->
            <ul class="nav nav-tabs">
                <li ><a href="/Account/UpperityEntityProfile">General Information</a></li>
                <li ><a href="/Account/UpperityEntityUserManagement">User Management</a></li>
                <li class="active"><a href="/Account/RenderBusinessPartnerApiKeyList">Become a business partner</a></li>
            </ul>
            <div class="tab-content">
                <!--Section1-->
                <div id="general" class="tab-pane fade">
                    </div>
                     <!--Section2-->
                    

            <!--END section2-->
                    
                </div>
                <!--END section1-->

                <!--AJOUT-->
                <!--TAB 2-->

                <div id="user" class="tab-pane active">
                    <div class="profile-info">
                        <div class="row col-12"><h6><B>Sandbox API keys</B></h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor pellentesque mi, non placerat erat condimentum at. Cras maximus luctus tellus, ac suscipit est auctor sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla lectus nulla, vehicula quis congue quis, tincidunt non eros. In sed tincidunt sem. Aliquam vitae finibus lectus. Nunc dolor tortor, commodo ut eros ac, sollicitudin mollis odio.</p>

                            </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-10 col-sm-12"><h6></h6></div>
                            @if (Model.isTcAccepted)
                            {
                            <div class="col-lg-2 col-sm-12 text-right"><a href="javascript:RenderAddUser();" class="btn btn-orange btn-info btn-lg text-right">Add new API Key</a></div>
                            }
                            else
                            {
                            <div class="col-lg-2 col-sm-12 text-right"><a href="javascript:RenderBusinessPartnerApiKeyTC();" class="btn btn-orange btn-info btn-lg text-right">Add new API Key</a></div>
                            }
                        </div>
                        <div class="row">
                        <div class="tg-wrap col-12">
                            <table id="users-table" class="tg">
                                  <tr>
                                    <th class="tg-9lax">Application Name</th>
                                    <th class="tg-9lax">API key value</th>
                                    <th class="tg-9lax">Secret Code value</th>
                                    <th class="tg-9lax">Action</th>                                    
                                  </tr>
                                  @foreach (var apiKey in Model.apiKeyList)
                                  {
                                     
                                      <tr>
                                        <td class="tg-9lax">@apiKey.Applicationname</td>
                                        <td class="tg-9lax">@apiKey.ApiKey</td>
                                        <td class="tg-9lax">@apiKey.SecretCode</td>
                                        <td class="tg-9lax" style="text-align:center;">
                                        <a href="javascript:removeKey('@apiKey.ApiKey','@apiKey.SecretCode');" class="btn btn-orange btn-info btn-lg text-right">Delete</a>
                                        </td>
                                      </tr>
                                  }
                              </table>
                          </div>
                    </div>
                    </div>
                   
                    <div class="profile-info">
                    <div class="row col-12"><h6><B>Production API keys</B></h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor pellentesque mi, non placerat erat condimentum at. Cras maximus luctus tellus, ac suscipit est auctor sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla lectus nulla, vehicula quis congue quis, tincidunt non eros. In sed tincidunt sem. Aliquam vitae finibus lectus. Nunc dolor tortor, commodo ut eros ac, sollicitudin mollis odio.</p>

                            </div>
                        
                        <div class="row">
                            <div class="col-lg-10 col-sm-12"><h6></h6></div>
                            @if (Model.isTcAccepted)
                            {
                            <div class="col-lg-2 col-sm-12 text-right"><a href="javascript:RenderAddUser();" class="btn btn-orange btn-info btn-lg text-right">Add new API Key</a></div>
                            }
                            else
                            {
                            <div class="col-lg-2 col-sm-12 text-right"><a href="javascript:RenderBusinessPartnerApiKeyTC();" class="btn btn-orange btn-info btn-lg text-right">Add new API Key</a></div>
                            }
                        </div>
                        <div class="row">
                        <div class="tg-wrap col-12">
                            <table id="users-table" class="tg">
                                  <tr>
                                    <th class="tg-9lax">Application Name</th>
                                    <th class="tg-9lax">API key value</th>
                                    <th class="tg-9lax">Secret Code value</th>
                                    <th class="tg-9lax">Action</th>                                    
                                  </tr>
                                  @foreach (var apiKey in Model.apiKeyList)
                                  {
                                     
                                      <tr>
                                        <td class="tg-9lax">@apiKey.Applicationname</td>
                                        <td class="tg-9lax">@apiKey.ApiKey</td>
                                        <td class="tg-9lax">@apiKey.SecretCode</td>
                                        <td class="tg-9lax" style="text-align:center;">
                                        <a href="javascript:removeKey('@apiKey.ApiKey','@apiKey.SecretCode');" class="btn btn-orange btn-info btn-lg text-right">Delete</a>
                                        </td>
                                      </tr>
                                  }
                              </table>
                          </div>
                    </div>
                    </div>
                     <div class="profile-info">
                                      <div class="col-12"><h6><B>Service Contract Owner</B></h6>
                            <p>This owner key will allow you to save and/or update the  information store on the Upperity Blockchain using your application functionalities. For further help, please visit our developer page at: <a href="http://developper.upperity.com" target="_blank">developper.upperity.com</a></p>
                            <p>This information will be used to refund any transaction performed by a user with your application. For further detail please visit our legale page at : <a href="http://developper.upperity.com" target="_blank">developper.upperity.com</a></p>
                            
                            </div>
                        <hr>
                                     
                     
                        <div class="">
                            <div class="col-12"><h6></h6></div>
                            @if (Model.serviceContractOwnerKey.ApiKey == null)
                            {
                                <p style="margin-left: 15px;">Accept the Service contract agreement and receive my information <a href="javascript:RenderBusinessPartnerServiceContractOwnerTC();" class="btn btn-orange btn-info btn-lg text-right">Accept</a></p>
                            }
                            else
                            {
                               
                                <div style="margin-left: 15px;"><b>Service Contract Owner Name</b>: @Model.currentEntity</div>
                                <div style="margin-left: 15px;"><b>Service Contract Owner API key value</b>: @Model.serviceContractOwnerKey.ApiKey</div>
                                <div style="margin-left: 15px;"><b>Service Contract Owner Secret Code value</b>: @Model.serviceContractOwnerKey.SecretCode</div>
                            }
                           
                        </div>

                         

                    </div>
                 </div>
             </div>
                <!--END TAB 2-->
<!--FIN AJOUT-->
                <!--section2-->
                <div id="user" class="tab-pane fade">
                    <form id="user-management" class="form" action="" method="post">
                    <div class="row profile-info">
                        <div class="col-lg-12 col-sm-12"><h5>Add User</h5>
                            <!--Line1-->
                            <div class="row">
                                <div class="col-lg-4 col-sm-12 border">
                                    <div class="form-group">
                                    <label for="IDemail" class="text-info">ID or Email Address</label><br>
                                    <input type="text" name="IDemail" id="IDemail" class="form-control">
                                   </div>
                                </div> <span class="or">OR</span>
                                <div class="row border col-lg-6">
                                    <div class="col-lg-6 col-sm-10">
                                        <div class="form-group">
                                        <label for="firstname" class="text-info">First Name</label><br>
                                        <input type="text" name="firstname" id="firstname" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-10">
                                        <div class="form-group">
                                        <label for="lastname" class="text-info">Last Name</label><br>
                                        <input type="text" name="lastname" id="lastname" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-12 middle">
                                    <input type="submit" name="submit" class="btn btn-orange2 btn-info btn-sm text-right" value="Search">
                                </div>
                            </div>
                        </div>   
                        <!--END Line1-->
                        <!--Line2-->
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div><h5>Search Result</h5></div>
                            </div>
                            <div class="row">
<!-- LIGNE MODIFIÉE-->           <div class="col-lg-6 col-sm-12 border bottom25">
 <!-- LIGNE MODIFIÉE-->                                   <div>
<!-- LIGNE MODIFIÉE-->                  <ul id="results">
<!-- LIGNE MODIFIÉE-->                                               <li class="activeresult">
<!-- LIGNE MODIFIÉE-->                                           <a href="#" >Résultat 1</a>
 <!-- LIGNE MODIFIÉE-->                                              </li>
 <!-- LIGNE MODIFIÉE-->                                               <li>
<!-- LIGNE MODIFIÉE-->                                           <a href="#">Résultat 2</a>
 <!-- LIGNE MODIFIÉE-->                                              </li>
  <!-- LIGNE MODIFIÉE-->                                               <li>
<!-- LIGNE MODIFIÉE-->                                           <a href="#">Résultat 3</a>
 <!-- LIGNE MODIFIÉE-->                                              </li>
 <!-- LIGNE MODIFIÉE-->                                           </ul>
                                   </div>
                                </div>
 <!-- LIGNE MODIFIÉE-->            <div class="col-lg-6 col-sm-12 bottom25">
 <!-- LIGNE MODIFIÉE-->                <div id="rdzone" class="row">
<!-- LIGNE MODIFIÉE-->                       <div class="col-lg-2 col-sm-12">
<!-- LIGNE MODIFIÉE-->                           <div id="profile-img" class="text-center">
 <!-- LIGNE MODIFIÉE-->                             <img src="/dashboard/assets/User_profile.jpg">
  <!-- LIGNE MODIFIÉE-->                        </div>
  <!-- LIGNE MODIFIÉE-->                     </div>
  <!-- LIGNE MODIFIÉE-->                     <div class="col-lg-10 col-sm-12">
  <!-- LIGNE MODIFIÉE-->                         <p><strong>Name Lastname</strong></p>
                                                <p>Cuba</p>
                                                <p>email@email.com</p>
  <!-- LIGNE MODIFIÉE-->                     </div>
  <!-- LIGNE MODIFIÉE-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END Line2-->                    
                    </div>
                    <div class="form-group col-12 text-right">
                        <input type="submit" name="submit" class="btn btn-dark btn-info btn-lg text-right" value="Cancel">
                        <input type="submit" name="submit" class="btn btn-orange btn-info btn-lg text-right" value="Add User">
                    </div>
                    </form>
                </div>
                <!--END section2-->
            </div>
        </div>
    </div>


      <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modalBody">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create new API key</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modalContent">
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="grey-text"></i>
              <p>Enter an application name for which the newly generated API key will be used by and then click Create.</p>
              <label data-error="wrong" data-success="right" for="form3">Application Name</label>
              <input type="text" id="form3" class="form-control validate" name="appName"> <br />
              <div>
              <input type="button" id="formsd" style="width: 100px; float: right;" class="" name="entityName" value="Create" onclick="AddNewApiKey();">
              <input type="button" id="form5" style="width: 100px; float: right;" class="" name="entityName" value="Cancel" onclick="$('#modalSubscriptionForm').modal('toggle');">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            viewMode: 'days',
            format: 'YYYY/MM/DD',
            maxDate: 'now'
        });
    });

    function RenderAddUser() {
        $('#form3').val('');
        $("#modalSubscriptionForm").modal("toggle");

    }

    function RenderBusinessPartnerApiKeyTC() {
        $.ajax({
            type: 'POST',
            url: '/Account/RenderTCEntityApiKey',
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            async: false,
            success: function (data) {
                $('#modalBody').html(data);
                $("#modalSubscriptionForm").modal("toggle");
            },
            error: function (xhr) {
                alert('error');
                alert(xhr.responseText);
            }
        });
    }

    function RenderBusinessPartnerServiceContractOwnerTC() {
        $.ajax({
            type: 'POST',
            url: '/Account/RenderBusinessPartnerServiceContractOwnerTC',
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            async: false,
            success: function (data) {
                $('#modalBody').html(data);
                $("#modalSubscriptionForm").modal("toggle");
            },
            error: function (xhr) {
                alert('error');
                alert(xhr.responseText);
            }
        });
    }
    function AddNewApiKey() {
        var appName = $("#form3").val();
        $.ajax({
            type: 'POST',
            url: '/Account/AddNewApiKey',
            contentType: 'application/json; charset=utf-8',
            data: '{appName: "' + appName + '"}',
            dataType: 'html',
            async: false,
            success: function (data) {
                $("#modalSubscriptionForm").modal("toggle");
                $(location).attr('href', '/Account/RenderBusinessPartnerApiKeyList');
            },
            error: function (xhr) {
                alert('error');
                alert(xhr.responseText);
            }
        });
    }

    function removeKey(apiKey, secretCode) {

        $.ajax({
            type: 'POST',
            url: '/Account/removeApiKey',
            contentType: 'application/json; charset=utf-8',
            data: '{apiKey: "' + apiKey + '", secretCode: "' + secretCode + '"}',
            dataType: 'html',
            async: false,
            success: function (data) {
                $(location).attr('href', '/Account/RenderBusinessPartnerApiKeyList');
            },
            error: function (xhr) {
                alert('error');
                alert(xhr.responseText);
            }
        });
    }

    function RenderEditUserRole(userId) {

        $.ajax({
            type: 'POST',
            url: '/Account/RenderEditUserRole',
            contentType: 'application/json; charset=utf-8',
            data: '{userId: "' + userId + '"}',
            dataType: 'html',
            async: false,
            success: function (data) {
                $('#modalBody').html(data);
                $("#modalSubscriptionForm").modal("toggle");
            },
            error: function (xhr) {
                alert('error');
                alert(xhr.responseText);
            }
        });

    }

    function EditUserRole() {

        var userId = $("#upcId").val();
        var role = '';
        $(".roleHolder").each(function (i) {
            role += $(this).text() + ',';
        });

        if ($("#isAdmin").is(":checked")) {
            var isAdmin = true;
        } else {
            var isAdmin = false;
        }

        $.ajax({
            type: 'POST',
            url: '/Account/EditUserRole',
            contentType: 'application/json; charset=utf-8',
            data: '{userId: "' + userId + '", roleList: "' + role + '", isAdmin: ' + isAdmin + ' }',
            dataType: 'html',
            async: false,
            success: function (data) {
                $("#modalSubscriptionForm").modal("toggle");
                $(location).attr('href', '/Account/UpperityEntityUserManagement');
            },
            error: function (xhr) {
                alert('error');
                alert(xhr.responseText);
            }
        });

    }

    function removeCurrentRow(caller) {
        //$(caller).closest('tr').remove();
        $(caller).parent().parent().remove();
    }

    function addRole() {
        if ($("#role").val() != "") {
            var newRow = '<tr><td class="roleHolder text-center">' + $("#role").val() + '</td><td class="text-center"><input class="btn btn-orange btn-info btn-sm text-right" type="button" value="Remove" onclick="removeCurrentRow(this);"/></td></tr>';
            $('#role-table tbody').append(newRow);
            $("#role").val('');
        }
    }

    function deleteUser(userId) {
        $.ajax({
            type: 'POST',
            url: '/Account/deleteUser',
            contentType: 'application/json; charset=utf-8',
            data: '{userId: "' + userId + '"}',
            dataType: 'html',
            async: false,
            success: function (data) {
                $(location).attr('href', '/Account/UpperityEntityUserManagement');
            },
            error: function (xhr) {
                alert('error');
                alert(xhr.responseText);
            }
        });
    }
</script>